img {
    height: 500px;
    width: auto;
    margin: auto;
    display: block;
}

.space:after {
    content: '\0020';
}

* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.head {
    font-size: 40px;
    font-weight: bold;
}

.intro  {
    font-style: italic;
}

.section.title {
    text-decoration-line: underline;
}
